<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>VTC 304CEM 197370593</title>
  <link rel="shortcut icon" type="image/png" href="img/favicon.png" >
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Leckerli+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/resources/css/main.css" />
  <link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.css">			
  <script src="/resources/jquery/jquery-1.11.1.min.js"></script>
  <script src="/resources/js/jquery.form.js"></script>
  <script src="/resources/vue/vue.js"></script>
  <script src="/resources/bootstrap/js/bootstrap.js"></script>
  <script src="/resources/js/uikit.js"></script>
</head>

<body>
<div id="main"> 
<nav class="uk-navbar-container uk-letter-spacing-small" >
  <div class="uk-container">
    <div class="uk-position-z-index" data-uk-navbar>
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="index.html">VTC Recipe</a>
        <ul class="uk-navbar-nav uk-visible@m uk-margin-large-left">
          <li ><a href="/index">Home</a></li>
          <li ><a href="/index#recipes">Recipe</a></li>
          <li ><a href="#">Search</a></li>
          <li ><a href="#">Contact</a></li>

        </ul>
      </div>
      <div class="uk-navbar-right">

        <ul class="uk-navbar-nav uk-visible@m">
           <li ><a @click="skipF()" class="btn btn-link">My List</a></li>
          <li ><a v-show="!show" @click="login()">Sign In</a></li>    
          <li ><a v-show="show" class="btn btn-link" @click="updatePassword()">Password Change</a></li>
        </ul>
        <div class="uk-navbar-item">
                   <div>
          <button class="uk-button uk-button-primary  uk-width-auto uk-border-pill " @click="register()" v-show="!show">Sign Up</button></div>
          <div>
          <button class="uk-button uk-button-primary  uk-width-auto uk-border-pill " @click="logout()" v-show="show">Logout</button>
          </div>
        </div>          
        <a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas" data-uk-toggle><span
          data-uk-navbar-toggle-icon></span></a>
      </div>
    </div>
  </div>
</nav>

<div class="uk-container">
  <div data-uk-grid>
    <div class="uk-width-1-2@s">
      <div><img :src="repeices.imgSrc"></div>
    </div>
    <div class="uk-width-expand@s uk-flex uk-flex-middle">
      <div>
        <h1>{{repeices.name}}</h1>
        <p>{{repeices.formula}}</p>
        <div class="uk-margin-medium-top uk-child-width-expand uk-text-center uk-grid-divider" data-uk-grid>
          <div>
            <span data-uk-icon="icon: clock; ratio: 1.4"></span>
            <h5 class="uk-text-500 uk-margin-small-top uk-margin-remove-bottom">Active Time</h5>
            <span class="uk-text-small">{{repeices.activeTime}} mins</span>
          </div>
          <div>
            <span data-uk-icon="icon: future; ratio: 1.4"></span>
            <h5 class="uk-text-500 uk-margin-small-top uk-margin-remove-bottom">Total Time</h5>
            <span class="uk-text-small">{{repeices.totalTime}} mins</span>
          </div>
          <div>
            <span data-uk-icon="icon: users; ratio: 1.4"></span>
            <h5 class="uk-text-500 uk-margin-small-top uk-margin-remove-bottom">Yield</h5>
            <span class="uk-text-small">Serves {{repeices.yield}}</span>
          </div>
        </div>
        <hr>
        <div data-uk-grid>
          <div class="uk-width-auto@s uk-text-small">
            <p class="uk-margin-small-top uk-margin-remove-bottom">Created by <a href="#">{{repeices.postBy}}</a></p>
            
          </div>
          <div class="uk-width-expand@s uk-flex uk-flex-middle uk-flex-right@s">
            <a @click="addFavicate" v-show="show&&!have" class="uk-icon-link" data-uk-icon="icon: heart; ratio: 1.2" 
             data-uk-tooltip="title: Add List"></a>
             <a @click="removeFavicate" v-show="show&&have" class="uk-icon-link" data-uk-icon="icon: heart-fill; ratio: 1.2" 
             data-uk-tooltip="title: Remove List"></a>
            <a onclick="window.print()" class="uk-icon-link uk-margin-left" data-uk-icon="icon: print; ratio: 1.2" 
             data-uk-tooltip="title: Print Recipe"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<footer class="uk-section uk-section-default">
	<div class="uk-container uk-text-secondary uk-text-500">
		<div class="uk-child-width-1-2@s" data-uk-grid>
			<div>
				<a href="#" class="uk-logo">VTC Recipe</a>
			</div>
			<div class="uk-flex uk-flex-middle uk-flex-right@s">
				<div data-uk-grid class="uk-child-width-auto uk-grid-small">
					<div>
						<a href="https://www.facebook.com/" data-uk-icon="icon: facebook; ratio: 0.8" class="uk-icon-button facebook" target="_blank"></a>
					</div>
					<div>
						<a href="https://www.instagram.com/" data-uk-icon="icon: instagram; ratio: 0.8" class="uk-icon-button instagram" target="_blank"></a>
					</div>
					<div>
						<a href="mailto:info@blacompany.com" data-uk-icon="icon: twitter; ratio: 0.8" class="uk-icon-button twitter" target="_blank"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="uk-child-width-1-2@s uk-child-width-1-4@m" data-uk-grid>
			<div>
				<ul class="uk-list uk-text-small">
					<li><a class="uk-link-text" href="#">Presentations</a></li>
					<li><a class="uk-link-text" href="#">Professionals</a></li>
					<li><a class="uk-link-text" href="#">Stores</a></li>
				</ul>
			</div>
			<div>
				<ul class="uk-list uk-text-small">
					<li><a class="uk-link-text" href="#">Webinars</a></li>
					<li><a class="uk-link-text" href="#">Workshops</a></li>
					<li><a class="uk-link-text" href="#">Local Meetups</a></li>
				</ul>
			</div>
			<div>
				<ul class="uk-list uk-text-small">
					<li><a class="uk-link-text" href="#">Our Initiatives</a></li>
					<li><a class="uk-link-text" href="#">Giving Back</a></li>
					<li><a class="uk-link-text" href="#">Communities</a></li>
				</ul>
			</div>
			<div>
				<ul class="uk-list uk-text-small">
					<li><a class="uk-link-text" href="#">Contact Form</a></li>
					<li><a class="uk-link-text" href="#">Work With Us</a></li>
					<li><a class="uk-link-text" href="#">Visit Us</a></li>
				</ul>
			</div>
		</div>
		<div class="uk-margin-medium-top uk-text-small uk-text-muted">				
			<div>Made by Lam Wing Lung (PT11-197370593)</div>
		</div>
	</div>
</footer>
<div class="modal fade" id="newPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog .modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title" id="myModalLabel">Enter Your New Password</h4>
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							</div>
							<div class="modal-body">
								<form>
									<div class="form-group">
										<label for="exampleFormControlInput1">New Password:</label>
										<input type="text" class="form-control" v-model="newPassword" placeholder="newPassword">
									</div>
									<div class="form-group">
										<label for="exampleFormControlInput1">Repeat Password:</label>
										<input type="text" class="form-control" v-model="newRepeatPassword" placeholder="RepeatPassword">
									</div>
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-primary" @click="newPasswordAction">Change Password</button>
								</form>

							</div>
							<div class="modal-footer">

							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div>
<div id="offcanvas" data-uk-offcanvas="flip: true; overlay: true">
  <div class="uk-offcanvas-bar">
    <a class="uk-logo" href="index.html">VTC Recipe</a>
    <button class="uk-offcanvas-close" type="button" data-uk-close="ratio: 1.2"></button>
    <ul class="uk-nav uk-nav-primary uk-nav-offcanvas uk-margin-medium-top uk-text-center">
      <li ><a href="index#recipes">Recipe</a></li>
      <li ><a href="#">Search</a></li>
      <li ><a href="#">Contact</a></li>
      <li ><a href="/login">Sign In</a></li>
      <li ><a href="/register">Sign Up</a></li>
    </ul>
    <div class="uk-margin-medium-top">
      <a class="uk-button uk-width-1-1 uk-button-primary" href="sign-up.html">Sign Up</a>
    </div>
    <div class="uk-margin-medium-top uk-text-center">
      <div data-uk-grid class="uk-child-width-auto uk-grid-small uk-flex-center">
        <div>
          <a href="https://twitter.com/" data-uk-icon="icon: twitter" class="uk-icon-link" target="_blank"></a>
        </div>
        <div>
          <a href="https://www.facebook.com/" data-uk-icon="icon: facebook" class="uk-icon-link" target="_blank"></a>
        </div>
        <div>
          <a href="https://www.instagram.com/" data-uk-icon="icon: instagram" class="uk-icon-link" target="_blank"></a>
        </div>
        <div>
          <a href="https://vimeo.com/" data-uk-icon="icon: vimeo" class="uk-icon-link" target="_blank"></a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script src="/resources/js/detail.js"></script>
</body>

</html>